<div class="card-body">
<a class="btn btn-primary" href="/csv"> TO CSV</a>
<canvas id="myAreaChart" width="50%" height="50"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</div>

<script>
const dates = [{% for i in tab %} '{{i.dt}}', {% endfor %}];
const datas = [{% for i in tab %} '{{i.temp}}', {% endfor %}];
var ctx = document.getElementById('myAreaChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'line',
data: {
labels: dates,
scaleShowLabels : false,
datasets: [{
label: 'La température',
data:datas,
borderColor: [
'rgba(0,0,2,1)',
],
borderWidth: 1
}]
},
options: {
scales: {
yAxes: [{
ticks: {
beginAtZero: true
}
}]
}
}
});
</script>